<h1>Generador de Tabla</h1>

<div *ngIf="cantidad">
  <label for="valorX">Valor de X:</label>
  <input type="number" id="valorX" [(ngModel)]="valorX">
  
  <label for="valorY">Valor de Y:</label>
  <input type="number" id="valorY" [(ngModel)]="valorY">
  
  <button (click)="agregarPar()">Agregar Par</button>
</div>

<table id="tabla">
  <thead>
    <tr>
      <th>X</th>
      <th>Y</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let par of paresXY">
      <td>{{ par.x }}</td>
      <td>{{ par.y }}</td>
    </tr>
  </tbody>
</table>
